# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np
import requests
import io

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [7]:


url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
s=requests.get(url, verify=False).content
chipo = pd.read_csv(io.StringIO(s.decode('utf-8')), sep = '\t')

/Users/risbhatia/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
chipo.shape[0]

4622

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [10]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
n_orders = chipo.groupby('item_name')['quantity'].sum()
n_orders.idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [23]:
n_orders[n_orders.idxmax()]

761

### Step 11. What was the most ordered item in the choice_description column?

In [24]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [29]:
chipo['item_price'].astype('float32')

ValueError: could not convert string to float: '$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [33]:
chipo['item_price'] = chipo['item_price'].apply(lambda r: float(r[1:]))

#### Step 13.c. Check the item price type

In [34]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
np.sum(chipo['quantity']*chipo['item_price'])

39237.02

### Step 15. How many orders were made in the period?

In [39]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

chipo.groupy('order_id')

In [4]:
# Solution 2

### Step 17. How many different items are sold?